<header class="header js-header">
  <div class="container clearfix">
    <div class="header__left">
      <div class="header__logo">
        <img src="{{ logo }}" alt="">
      </div>
    </div>
    <div class="header__right">
      <div class="header__sublogo">
        <img src="{{ subLogo }}" alt="">
      </div>
    </div>
  </div>
</header>
