.feature-bottom {
  padding-top: 340px;
  padding-bottom: 25px;

  @include medium-up {
    padding-top: 340px;
    padding-bottom: 60px;
  }

  .main + & {
    margin-top: -265px;
    @include medium-up {
      margin-top: -213px;
    }
  }

  .block-title {
    white-space: nowrap;
  }
}
