.footer {
  background-image: url(../images/decor-bar.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 50px;
  @include medium-up {
    padding-bottom: 120px;
  }
}
