.block-partners {
  margin-bottom: 25px;
  @include medium-up {
    margin-bottom: 80px;
  }

  &__items {
    margin-bottom: 0;
  }

  .block-title {
    @include medium-up {
      margin-top: 75px;
      margin-bottom: 30px;
    }
  }
}
