.block-values {
  position: relative;
  margin-top: 62px;
  @include medium-up {
    margin-bottom: 65px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__body {
    @include medium-up {
      padding-right: 10px;
      margin-left: 0;
      line-height: 24px;
    }
  }
}
