.block-cta {
  $root: &;

  position: relative;
  @include medium-up {
    margin-top: 30px;
  }

  &__image {
    margin-right: 20px;
    @include medium-up {
      width: 43%;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 7px;

    @include medium-up {
      margin-bottom: 35px;
    }
  }

  &__body {
    margin-bottom: 13px;

    @include medium-up {
      margin-bottom: 55px;
      line-height: 25px;
    }
  }

  &__content {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: -45px;

    @include medium-up {
      padding-top: 100px;
      padding-bottom: 80px;
      padding-left: 175px;
      padding-right: 80px;
      margin-left: 33.33%;
      margin-top: 0;
    }
  }

  // Image RIGHT
  &.image--right {
    #{$root}__content {
      margin-left: 0;
      margin-right: 20px;
      @include medium-up {
        margin-left: 0;
        padding-left: 97px;
        padding-right: 175px;
        margin-right: 33.33%;
      }
    }

    #{$root}__image {
      right: 0;
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
