// Custom form elements
button,
%button,
input[type='submit'] {
  @include SSPro-semibold();
  background: none;
  border-radius: 0px;
  border: 1px solid $black;
  color: $grey-black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 9px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: all .2s;

  @include medium-up {
    font-size: 18px;
  }

  &:hover {
    background: $grey-light;
    color: $grey-black;
  }
}

.btn {
 @extend %button;

  &--white {
    color: $white;
    border-color: $white;
  }

  &--soon {
    padding: 0;
    border-color: transparent;
    opacity: 0.4;
    margin-top: -30px;

    &:hover {
      background-color: transparent;
    }
  }
}

%form-text {
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: 1px solid $grey-light;
  box-shadow: inherit;
  box-sizing: border-box;
  color: $grey-dark;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  padding: 7px 20px;
  transition: all .3s ease-in-out;
  width: 100%;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: lighten($grey-dark, 40%);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: lighten($grey-dark, 40%);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: lighten($grey-dark, 40%);
    opacity: 1;
  }

  &:-moz-placeholder {
    color: lighten($grey-dark, 40%);
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 5px rgba($grey-dark, 1);
    outline: 0 none;
  }

  &.error {
    border-color: $danger;
    color: $danger;

    &::-webkit-input-placeholder {
      color: $danger;
    }

    &::-moz-placeholder {
      color: $danger;
    }

    &:-ms-input-placeholder {
      color: $danger;
    }

    &:-moz-placeholder {
      color: $danger;
    }

    &:focus {
      box-shadow: 0 0 5px rgba($danger, 1);
      outline: 0 none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

input[type='tel'],
.form-url,
.form-search,
.form-email,
.form-text {
  @extend %form-text;
}

.form-item input[type="radio"] {
    margin-top: 0.375rem;
    margin-bottom: 0.5rem;

  + label {
    margin-bottom: 0;
    vertical-align: baseline;
  }
}

.form-textarea {
  @extend %form-text;
  height: auto;
  min-height: 200px;
  padding: 15px 25px;
}

.resizable-textarea .grippie {
  background: #eee url(/misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
  margin-top: -10px;
}

.form-item,
.form-actions {
  margin: 0 0 26px;

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: 8px;
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    display: inline;
    font-weight: 400;
  }
}

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
}
