// Even out the browsers

html {
  box-sizing: border-box;
  height:100%;
}

// h/t CSS Tricks
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

p:empty {
  display: none;
}
