// via https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.visually-hidden,
.element-invisible {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}


.container {
  @include container;
}

.grid-row {
  @include grid-row;
}

@for $i from 1 through 12 {
  .grid-columns-lg-#{$i} {
    @include grid-columns($lg: $i);
  }
}

// Align classes
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
