// via https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
.visually-hidden,
.element-invisible {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.dfat-icon {
  @include SSScocial();
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.reset-list {
  @include reset-list;
}

.grid-row {
  @include grid-row;
}

@for $i from 1 through 12 {
  .grid-columns-lg-#{$i} {
    @include grid-columns($lg: $i);
  }
}

// Align classes
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text {
  &--white {
    &,
    a {
      color: white;
    }
  }
}
.bg {
  &--yellow {
    background-color: $yellow;
  }

  &--gray {
    background-color: $grey-light;
  }

  &--dark {
    background-color: $grey-dark;
  }
}

// Reset the container base on design
.container {
  @include large-up {
    max-width: 970px;
  }
}

// Reset padding
.col-nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
